In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import geopandas
import seaborn as sns
%matplotlib inline

In [15]:
filename = "/Users/matthewberkley/Desktop/Geomap_Project/accidents_2020.geojson"
file = open(filename)
df = geopandas.read_file(file)

In [16]:
df.head()

,crash_date,latitude,longitude,year,month,day,geometry
0,2020-01-12T02:45:00,41.891293713,-87.647680593,2020,1,12,POINT (-87.64768 41.89129)
1,2020-01-17T10:55:00,41.932128813,-87.708707862,2020,1,17,POINT (-87.70871 41.93213)
2,2020-01-23T22:09:00,41.722892892,-87.610688187,2020,1,23,POINT (-87.61069 41.72289)
3,2020-01-11T19:30:00,41.917977302,-87.671867349,2020,1,11,POINT (-87.67187 41.91798)
4,2020-02-19T22:26:00,41.722100936,-87.593435836,2020,2,19,POINT (-87.59344 41.72210)

In [19]:
df["crash_date"].count()

68743

In [38]:
data2 = df.groupby("month")["crash_date"].count()

In [40]:
data2.head()

month
1    8586
2    8930
3    6619
4    4403
5    6517
Name: crash_date, dtype: int64

In [45]:
# Create an array that contains the number of users each language has
users = df["month"].count()
x_axis = np.arange(len(users))

TypeError: object of type 'numpy.int64' has no len()

In [ ]:
# Tell matplotlib that we will be making a bar chart
# Users is our y axis and x_axis is, of course, our x axis
# We apply align="edge" to ensure our bars line up with our tick marks
plt.bar(x_axis, users, color='r', alpha=0.5, align="center")